export PATH=""\
"{{ .chezmoi.homeDir }}/.nix-profile/bin:"\
"{{ .chezmoi.homeDir }}/.nix-packages/bin:"\
"$PATH"

export LC_ALL=en_US.UTF-8
export LOCALE_ARCHIVE=~/.nix-packages/lib/locale/locale-archive

if [[ -f ~/.shellenv_local ]]; then
  source ~/.shellenv_local
fi
