# On NixOS source /etc/profile early, so it wouldn't overwrite our PATH
if [[ -f /etc/NIXOS ]]
then
  source /etc/profile
fi

{{ template "setup_env" . }}

if [[ -f ~/.zshenv_local ]]; then
  source ~/.zshenv_local
fi
