if [[ -o i ]]; then
  source ~/.shellenv
fi

if [[ -n "$INTELLIJ_ENVIRONMENT_READER" || -n "$VSCODE_RESOLVING_ENVIRONMENT" ]]; then
  return
fi

fpath=(~/.nix-profile/share/zsh/site-functions ~/.nix-packages/share/zsh/site-functions /usr/share/zsh/site-functions $fpath)

export ZSH="{{ .chezmoi.workingTree }}/ohmyzsh"
source $ZSH/zshrc

source $HOME/.nix-packages/etc/profile.d/command-not-found.sh

if [[ -f ~/.zshrc_local ]]; then
  source ~/.zshrc_local
fi
