#!/usr/bin/env sh

# packages: {{ joinPath .chezmoi.workingTree "flake/flake.lock" | include | sha256sum }}

nix profile upgrade --all

if [ ! -e /etc/NIXOS ]; then
  echo "Cleaning up nix store..."
  nix profile wipe-history
  nix store gc
fi
