#!/usr/bin/env sh

# packages: {{ joinPath .chezmoi.workingTree "home" .chezmoi.sourceFile "../packages.nix" | include | sha256sum }}
# registry: {{ joinPath .chezmoi.workingTree "home" .chezmoi.sourceFile "../registry.json" | include | sha256sum }}

set -e

echo "Installing packages"
nix run nixpkgs#nix -- build -o {{ .chezmoi.homeDir }}/.nix-packages -f packages.nix

if [ ! -e /etc/NIXOS ]; then
  echo "Cleaning up nix store..."
  {{ template "look_bin" list . "nix" }} store gc
fi
