#!/usr/bin/env sh

{{- $flake := joinPath .chezmoi.homeDir ".config/nix/flake" }}
# packages: {{ joinPath $flake "flake.lock" | include | sha256sum }}

nix profile upgrade --all

if [ ! -e /etc/NIXOS ]; then
  echo "Cleaning up nix store..."
  nix profile wipe-history
  nix store gc
fi
