#!/usr/bin/env sh

set -e

{{- $flake := joinPath .chezmoi.homeDir ".config/nix/flake" }}

nix build -o {{ .chezmoi.homeDir }}/.nix-packages {{ $flake }}#homeEnv

nix registry add nixpkgs {{ $flake }}
