{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

set -e

test -d /run/systemd/system || exit 0

export XDG_RUNTIME_DIR="${XDG_RUNTIME_DIR:-/run/user/$(id -u)}"

systemctl --user daemon-reload
systemctl --user enable --now chezmoi-update.timer
{{ end -}}
